# Git
.git/
.gitignore
.gitattributes

# IDE
.vscode/
.idea/
*.suo
*.user

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Logs
*.log
*.tmp

# Sistema operativo
.DS_Store
Thumbs.db

# Carpetas opcionales
hotel/test/
hotel/docs/