# =====================
# IDEs
# =====================
.idea/
*.iml
.project
.classpath
.settings/
.vscode/
nbproject/

# =====================
# Configuración sensible
# =====================
db.properties
application.properties

# =====================
# Ejemplos
# =====================
!*.example

# =====================
# Node / Frontend
# =====================
node_modules/
dist/
.cache/

# =====================
# Logs
# =====================
logs/

# Ignorar todo target
target/*

# PERO permitir estas subcarpetas
!target/test-classes/
!target/surefire-reports/
!target/reports

docs/
docfx_project/_site/

# Otros
*.class
*.log
*.pdf
# =====================
# Maven build
# =====================
target/