USE [master]
GO

IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = 'BedlyHoteles')
BEGIN
    CREATE DATABASE [BedlyHoteles];
END
GO
USE [BedlyHoteles]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comentarios](
	[id_comentario] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_habitacion] [int] NOT NULL,
	[rating] [int] NOT NULL,
	[texto] [nvarchar](1000) NOT NULL,
	[fecha_comentario] [datetime] NOT NULL,
	[id_comentario_padre] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_comentario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Configuracion]    Script Date: 25/04/2026 11:01:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configuracion](
	[id_config] [int] IDENTITY(1,1) NOT NULL,
	[clave] [nvarchar](50) NOT NULL,
	[valor] [nvarchar](200) NOT NULL,
	[descripcion] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_config] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cupones]    Script Date: 25/04/2026 11:01:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cupones](
	[id_cupon] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [nvarchar](50) NOT NULL,
	[descripcion] [nvarchar](200) NULL,
	[tipo_descuento] [nvarchar](20) NOT NULL,
	[valor_descuento] [decimal](10, 2) NOT NULL,
	[fecha_inicio] [datetime] NOT NULL,
	[fecha_fin] [datetime] NOT NULL,
	[usos_maximos] [int] NULL,
	[usos_actuales] [int] NULL,
	[activo] [bit] NULL,
	[fecha_creacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cupon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habitaciones]    Script Date: 25/04/2026 11:01:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habitaciones](
	[id_habitacion] [int] IDENTITY(1,1) NOT NULL,
	[id_hotel] [int] NOT NULL,
	[num_habitacion] [nvarchar](10) NOT NULL,
	[tipo_habitacion] [nvarchar](50) NOT NULL,
	[precio_noche] [decimal](10, 2) NOT NULL,
	[capacidad_max] [int] NOT NULL,
	[estado] [nvarchar](20) NOT NULL,
	[amenidades] [nvarchar](500) NULL,
	[descripcion] [nvarchar](500) NULL,
	[imagen_url] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_habitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hoteles]    Script Date: 25/04/2026 11:01:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hoteles](
	[id_hotel] [int] IDENTITY(1,1) NOT NULL,
	[nombre_hotel] [nvarchar](100) NOT NULL,
	[ubicacion] [nvarchar](200) NULL,
	[estrellas] [int] NULL,
	[descripcion] [nvarchar](500) NULL,
	[url_api_base] [nvarchar](200) NULL,
	[porcentaje_descuento] [decimal](5, 2) NULL,
	[activo] [bit] NOT NULL,
	[api_key_hash] [nvarchar](255) NULL,
	[fecha_registro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_hotel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogsApi]    Script Date: 25/04/2026 11:01:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogsApi](
	[id_log] [int] IDENTITY(1,1) NOT NULL,
	[metodo] [nvarchar](10) NOT NULL,
	[endpoint] [nvarchar](200) NOT NULL,
	[status_code] [int] NOT NULL,
	[request_body] [nvarchar](max) NULL,
	[response_body] [nvarchar](max) NULL,
	[ip_origen] [nvarchar](50) NULL,
	[agencia_id] [int] NULL,
	[tiempo_ms] [bigint] NULL,
	[fecha_hora] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservaciones]    Script Date: 25/04/2026 11:01:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservaciones](
	[id_reservacion] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_habitacion] [int] NOT NULL,
	[fecha_check_in] [date] NOT NULL,
	[fecha_check_out] [date] NOT NULL,
	[precio_total] [decimal](10, 2) NOT NULL,
	[estado] [nvarchar](20) NOT NULL,
	[metodo_pago] [nvarchar](50) NULL,
	[fecha_reservacion] [datetime] NOT NULL,
	[num_huespedes] [int] NULL,
	[notas_especiales] [nvarchar](500) NULL,
	[datos_tarjeta_hash] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_reservacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 25/04/2026 11:01:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[telefono] [nvarchar](20) NULL,
	[rol] [nvarchar](50) NOT NULL,
	[activo] [bit] NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Agencias] ON 

INSERT [dbo].[Agencias] ([id_agencia], [nombre], [email], [token], [activo], [fecha_registro]) VALUES (1, N'Agencia Viajes UNIS', N'agencia@unis.edu.gt', N'bedly-token-agencia-2026', 1, CAST(N'2026-03-04T20:31:12.703' AS DateTime))
INSERT [dbo].[Agencias] ([id_agencia], [nombre], [email], [token], [activo], [fecha_registro]) VALUES (6, N'Aerolinea UNIS', N'juanpa@aerounis.com', N'c225b741-9881-497c-8fbd-20cfd9191dcf', 1, CAST(N'2026-03-17T18:10:21.307' AS DateTime))
INSERT [dbo].[Agencias] ([id_agencia], [nombre], [email], [token], [activo], [fecha_registro]) VALUES (7, N'TravelNow', N'admin@travelnow.com', N'82A1629B-F583-430C-AC52-661ABC860E4A', 1, CAST(N'2026-04-09T00:07:47.577' AS DateTime))
SET IDENTITY_INSERT [dbo].[Agencias] OFF
GO
SET IDENTITY_INSERT [dbo].[Comentarios] ON 

INSERT [dbo].[Comentarios] ([id_comentario], [id_usuario], [id_habitacion], [rating], [texto], [fecha_comentario], [id_comentario_padre]) VALUES (1, 5, 1, 5, N'Excelente servicio', CAST(N'2026-03-01T21:05:57.567' AS DateTime), NULL)
INSERT [dbo].[Comentarios] ([id_comentario], [id_usuario], [id_habitacion], [rating], [texto], [fecha_comentario], [id_comentario_padre]) VALUES (2, 13, 1, 4, N'Excelente servicio', CAST(N'2026-03-05T17:55:56.960' AS DateTime), NULL)
INSERT [dbo].[Comentarios] ([id_comentario], [id_usuario], [id_habitacion], [rating], [texto], [fecha_comentario], [id_comentario_padre]) VALUES (3, 13, 1, 3, N'casi', CAST(N'2026-03-05T17:56:08.737' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Comentarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Configuracion] ON 

INSERT [dbo].[Configuracion] ([id_config], [clave], [valor], [descripcion]) VALUES (1, N'fecha_cierre_ventas', N'', N'Fecha límite para aceptar nuevas reservas. Dejar vacío para sin límite.')
SET IDENTITY_INSERT [dbo].[Configuracion] OFF
GO
SET IDENTITY_INSERT [dbo].[Cupones] ON 

INSERT [dbo].[Cupones] ([id_cupon], [codigo], [descripcion], [tipo_descuento], [valor_descuento], [fecha_inicio], [fecha_fin], [usos_maximos], [usos_actuales], [activo], [fecha_creacion]) VALUES (1, N'BEDLY10', N'10% de descuento en tu reserva', N'porcentaje', CAST(10.00 AS Decimal(10, 2)), CAST(N'2026-03-05T00:05:35.273' AS DateTime), CAST(N'2026-06-05T00:05:35.273' AS DateTime), 50, 0, 1, CAST(N'2026-03-05T00:05:35.273' AS DateTime))
INSERT [dbo].[Cupones] ([id_cupon], [codigo], [descripcion], [tipo_descuento], [valor_descuento], [fecha_inicio], [fecha_fin], [usos_maximos], [usos_actuales], [activo], [fecha_creacion]) VALUES (2, N'UNIS50', N'Q50 de descuento fijo', N'fijo', CAST(50.00 AS Decimal(10, 2)), CAST(N'2026-03-05T00:05:35.273' AS DateTime), CAST(N'2026-06-05T00:05:35.273' AS DateTime), 100, 0, 1, CAST(N'2026-03-05T00:05:35.273' AS DateTime))
INSERT [dbo].[Cupones] ([id_cupon], [codigo], [descripcion], [tipo_descuento], [valor_descuento], [fecha_inicio], [fecha_fin], [usos_maximos], [usos_actuales], [activo], [fecha_creacion]) VALUES (3, N'VERANO20', N'20% descuento temporada', N'porcentaje', CAST(20.00 AS Decimal(10, 2)), CAST(N'2026-03-05T00:05:35.273' AS DateTime), CAST(N'2026-09-05T00:05:35.273' AS DateTime), 30, 0, 1, CAST(N'2026-03-05T00:05:35.273' AS DateTime))
SET IDENTITY_INSERT [dbo].[Cupones] OFF
GO
SET IDENTITY_INSERT [dbo].[Habitaciones] ON 

INSERT [dbo].[Habitaciones] ([id_habitacion], [id_hotel], [num_habitacion], [tipo_habitacion], [precio_noche], [capacidad_max], [estado], [amenidades], [descripcion], [imagen_url]) VALUES (1, 1, N'100', N'Penthouse', CAST(380.00 AS Decimal(10, 2)), 3, N'Ocupada', N'WiFi,A/C,TV', NULL, NULL)
INSERT [dbo].[Habitaciones] ([id_habitacion], [id_hotel], [num_habitacion], [tipo_habitacion], [precio_noche], [capacidad_max], [estado], [amenidades], [descripcion], [imagen_url]) VALUES (2, 1, N'201', N'Doble', CAST(650.00 AS Decimal(10, 2)), 2, N'Disponible', N'WiFi,A/C,TV,Desayuno', NULL, NULL)
INSERT [dbo].[Habitaciones] ([id_habitacion], [id_hotel], [num_habitacion], [tipo_habitacion], [precio_noche], [capacidad_max], [estado], [amenidades], [descripcion], [imagen_url]) VALUES (3, 1, N'301', N'Suite', CAST(1200.00 AS Decimal(10, 2)), 2, N'Disponible', N'WiFi,A/C,TV,Desayuno,Piscina,Spa', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Habitaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Hoteles] ON 

INSERT [dbo].[Hoteles] ([id_hotel], [nombre_hotel], [ubicacion], [estrellas], [descripcion], [url_api_base], [porcentaje_descuento], [activo], [api_key_hash], [fecha_registro]) VALUES (1, N'Hotel Grand UNIS', N'Zona 10, Guatemala City', 5, N'Hotel de lujo en el corazón de la zona viva', NULL, CAST(0.00 AS Decimal(5, 2)), 1, NULL, CAST(N'2026-02-26T23:13:01.607' AS DateTime))
INSERT [dbo].[Hoteles] ([id_hotel], [nombre_hotel], [ubicacion], [estrellas], [descripcion], [url_api_base], [porcentaje_descuento], [activo], [api_key_hash], [fecha_registro]) VALUES (2, N'UNIS Central Hotel', N'Antigua Guatemala', 4, N'Hotel céntrico con vistas históricas', NULL, CAST(0.00 AS Decimal(5, 2)), 1, NULL, CAST(N'2026-02-26T23:13:01.607' AS DateTime))
INSERT [dbo].[Hoteles] ([id_hotel], [nombre_hotel], [ubicacion], [estrellas], [descripcion], [url_api_base], [porcentaje_descuento], [activo], [api_key_hash], [fecha_registro]) VALUES (3, N'Hilton', N'Quetzaltenango', 5, NULL, NULL, CAST(0.00 AS Decimal(5, 2)), 1, NULL, CAST(N'2026-03-16T22:16:21.853' AS DateTime))
SET IDENTITY_INSERT [dbo].[Hoteles] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservaciones] ON 

INSERT [dbo].[Reservaciones] ([id_reservacion], [id_usuario], [id_habitacion], [fecha_check_in], [fecha_check_out], [precio_total], [estado], [metodo_pago], [fecha_reservacion], [num_huespedes], [notas_especiales], [datos_tarjeta_hash]) VALUES (1, 5, 1, CAST(N'2026-03-19' AS Date), CAST(N'2026-03-25' AS Date), CAST(2553.60 AS Decimal(10, 2)), N'Confirmada', N'efectivo', CAST(N'2026-03-01T20:38:51.770' AS DateTime), 1, N'Llegada tarde', NULL)
INSERT [dbo].[Reservaciones] ([id_reservacion], [id_usuario], [id_habitacion], [fecha_check_in], [fecha_check_out], [precio_total], [estado], [metodo_pago], [fecha_reservacion], [num_huespedes], [notas_especiales], [datos_tarjeta_hash]) VALUES (2, 5, 3, CAST(N'2026-04-17' AS Date), CAST(N'2026-04-19' AS Date), CAST(2400.00 AS Decimal(10, 2)), N'Confirmada', N'efectivo', CAST(N'2026-03-01T20:45:39.960' AS DateTime), 1, N'Llegada tarde', NULL)
INSERT [dbo].[Reservaciones] ([id_reservacion], [id_usuario], [id_habitacion], [fecha_check_in], [fecha_check_out], [precio_total], [estado], [metodo_pago], [fecha_reservacion], [num_huespedes], [notas_especiales], [datos_tarjeta_hash]) VALUES (3, 9, 1, CAST(N'2026-03-07' AS Date), CAST(N'2026-03-08' AS Date), CAST(380.00 AS Decimal(10, 2)), N'Confirmada', N'tarjeta', CAST(N'2026-03-02T11:49:42.203' AS DateTime), 1, N'', NULL)
SET IDENTITY_INSERT [dbo].[Reservaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id_usuario], [nombre], [email], [password_hash], [telefono], [rol], [activo], [fecha_registro]) VALUES (1, N'Admin Bedly', N'admin@bedly.com', N'$2a$11$dQzzr7op.BTUTyTBU/5Z7.uH3YJJ17NPqoO7/VWGZLV.O7VbtbiD2', N'502-1234-5678', N'superadmin', 1, CAST(N'2026-02-26T23:13:01.600' AS DateTime))
INSERT [dbo].[Usuario] ([id_usuario], [nombre], [email], [password_hash], [telefono], [rol], [activo], [fecha_registro]) VALUES (2, N'Juan Pérez', N'juan@correo.com', N'$2a$11$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2uheWG/igi.', N'502-9876-5432', N'recepcionista', 1, CAST(N'2026-02-26T23:13:01.600' AS DateTime))
INSERT [dbo].[Usuario] ([id_usuario], [nombre], [email], [password_hash], [telefono], [rol], [activo], [fecha_registro]) VALUES (3, N'María García', N'maria@correo.com', N'$2a$11$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2uheWG/igi.', N'502-5555-1234', N'auditor', 1, CAST(N'2026-02-26T23:13:01.600' AS DateTime))
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Agencias__AB6E6164C58DC92B]    Script Date: 25/04/2026 11:01:48 ******/
ALTER TABLE [dbo].[Agencias] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Agencias__CA90DA7A86CCF25B]    Script Date: 25/04/2026 11:01:48 ******/
ALTER TABLE [dbo].[Agencias] ADD UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Configur__71DCA3DB67F4D0FD]    Script Date: 25/04/2026 11:01:48 ******/
ALTER TABLE [dbo].[Configuracion] ADD UNIQUE NONCLUSTERED 
(
	[clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Cupones__40F9A20648A49C49]    Script Date: 25/04/2026 11:01:48 ******/
ALTER TABLE [dbo].[Cupones] ADD UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Hoteles_Ubicacion]    Script Date: 25/04/2026 11:01:48 ******/
CREATE NONCLUSTERED INDEX [IX_Hoteles_Ubicacion] ON [dbo].[Hoteles]
(
	[ubicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__AB6E6164F126A084]    Script Date: 25/04/2026 11:01:48 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Agencias] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Agencias] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Comentarios] ADD  DEFAULT (getdate()) FOR [fecha_comentario]
GO
ALTER TABLE [dbo].[Cupones] ADD  DEFAULT ((100)) FOR [usos_maximos]
GO
ALTER TABLE [dbo].[Cupones] ADD  DEFAULT ((0)) FOR [usos_actuales]
GO
ALTER TABLE [dbo].[Cupones] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Cupones] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Habitaciones] ADD  DEFAULT ((2)) FOR [capacidad_max]
GO
ALTER TABLE [dbo].[Habitaciones] ADD  DEFAULT ('Disponible') FOR [estado]
GO
ALTER TABLE [dbo].[Hoteles] ADD  DEFAULT ((3)) FOR [estrellas]
GO
ALTER TABLE [dbo].[Hoteles] ADD  DEFAULT ((0)) FOR [porcentaje_descuento]
GO
ALTER TABLE [dbo].[Hoteles] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Hoteles] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[LogsApi] ADD  DEFAULT ((0)) FOR [tiempo_ms]
GO
ALTER TABLE [dbo].[LogsApi] ADD  DEFAULT (getdate()) FOR [fecha_hora]
GO
ALTER TABLE [dbo].[Reservaciones] ADD  DEFAULT ('Pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[Reservaciones] ADD  DEFAULT (getdate()) FOR [fecha_reservacion]
GO
ALTER TABLE [dbo].[Reservaciones] ADD  DEFAULT ((1)) FOR [num_huespedes]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ('cliente') FOR [rol]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Comentarios]  WITH CHECK ADD FOREIGN KEY([id_habitacion])
REFERENCES [dbo].[Habitaciones] ([id_habitacion])
GO
ALTER TABLE [dbo].[Comentarios]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Comentarios]  WITH CHECK ADD  CONSTRAINT [FK_Comentarios_Padre] FOREIGN KEY([id_comentario_padre])
REFERENCES [dbo].[Comentarios] ([id_comentario])
GO
ALTER TABLE [dbo].[Comentarios] CHECK CONSTRAINT [FK_Comentarios_Padre]
GO
ALTER TABLE [dbo].[Habitaciones]  WITH CHECK ADD FOREIGN KEY([id_hotel])
REFERENCES [dbo].[Hoteles] ([id_hotel])
GO
ALTER TABLE [dbo].[LogsApi]  WITH CHECK ADD  CONSTRAINT [FK_LogsApi_Agencias] FOREIGN KEY([agencia_id])
REFERENCES [dbo].[Agencias] ([id_agencia])
GO
ALTER TABLE [dbo].[LogsApi] CHECK CONSTRAINT [FK_LogsApi_Agencias]
GO
ALTER TABLE [dbo].[Reservaciones]  WITH CHECK ADD FOREIGN KEY([id_habitacion])
REFERENCES [dbo].[Habitaciones] ([id_habitacion])
GO
ALTER TABLE [dbo].[Reservaciones]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Comentarios]  WITH CHECK ADD  CONSTRAINT [CK_Comentarios_Rating] CHECK  (([rating]>=(0) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[Comentarios] CHECK CONSTRAINT [CK_Comentarios_Rating]
GO
USE [master]
GO
