<!DCOTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="widht=device-width, initial-scale=1.0">
    <title>TravelHub - Tu agencia de Viajes</title>
    <link rel="preconnect" href="https://fronts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Work+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
    <!-- Al usar HTMX es posible realizar las busquedas sin recargar la paina -->
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <style>
        
    </style>
</head>